@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Satisfy&display=swap');
.display {
  text-align: center;
  font-size: 40pt;
  font-family: 'Ephesis', cursive;
  color: black;
  -webkit-font-smoothing: antialiased;
}
