@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Satisfy&display=swap');
.display {
  text-align: center;
  font-size: 40pt;
  font-family: 'Ephesis', cursive;
  color: black;
  -webkit-font-smoothing: antialiased;
}


:root {
  --background: #003f88;
  --ligth-bg: #00509d;
  --dark-bg: #00296b;
  --primary: #fdc500;
  --ligth-primary: #ffd500;
  --white: #ffffff;
  --red: #ff0054;
  --success: #15ff00;
  --black: #000000;
  --clear-black: #252525;
  --grey: #a19f9f;

  
  --primary: #2b9348;
  --secondary: #e6ccb2;
  --title: #cbf3f0;
  --orange: #ffbf69;
  --white: #ffffff;
  --cyan: #cbf3f0;
  --basic: #ff0054;
  --intermediate: #00509d;
  --advanced: #9e0059;
  --purple: #ffd500;
}

* {
  margin:0;
  padding:0;
}

html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  background-color: var(--primary);
}
#root {
  margin: 0;
  padding: 0;
  height: 85vh;
  box-sizing: border-box;
}


header {
  opacity: 0.9;
  margin : 20px;
  border-radius: 6px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #188633;
  background-color: #ddffe6;
}

img {
  height: 40px;
  border-radius: 20px;
}

input::placeholder {
  color: white;
}

.primary {
  background-color: var(--primary);
}

.secondary {
  background-color: var(--secondary);
}
.c-primary {
  color: var(--primary);
}
.c-secondary {
  color: var(--secondary);
}
.bg-message {
  background-color : var(--ligth-bg)
}
.c-purple{
  color : var(--purple)
}

/* ** HEADER ** */
.header-search{
  background-color: var(--lg-background);
  border: 1px var(--primary) solid;
}

.header-search > .icon :hover {
  opacity: 0.6;
  color : white
}

/* ** LEFT-MENU ** */
 .left-menu {
  background-color: var(--secondary);
  border: 2px solid var(--white);
 }

 .left-menu > hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--background);
}
.meanu-header {
  border-bottom: 1px solid var(--background)
}
.meanu-header > .MuiSvgIcon-root {
  padding: 8px;
  color: var(--background);
  font-size: 18px;
  background-color: white;
  border-radius: 999px;
}

.menu-info   > h2 {
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 5px;
}
.menu-info > h3 {
  display: flex;
  font-size: 13px;
  font-weight: 600;
  align-items: center;
  margin-left: 15px;
} 



 /** CHAT **/

 .chat-header {
  border : 3px solid var(--background);
  opacity: 0.8;
  background-color: var(--secondary);
 }
 .chat-messages {
  overflow-y: scroll;
 }

 .chat-messages > .Message {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.message-info{
  padding-left: 5px;
  max-width: 90%;
}

.message-date {
  color: white;
  font-weight: 300;
  margin-left: 4px;
  font-size: 10px;
}

.text-message{
  max-width: 90%;
  color: white;
  overflow-wrap: break-word;
  margin-top : 20px;
}

/* .chat-input {
  border-radius: 20px;
  margin-bottom: 2%;
  width: 100%;
  margin-top : 20px;
  margin: 20 0;
} */


.chat-input >  form {
  display: flex;
  justify-content: center;
}

.chat-input> form > textarea {
  bottom: 30px;
  width: 80%;
  color: white;
  background-color: var(--dark-bg);
  border: 2px solid var(--secondary);
  border-radius: 20px;
  padding: 20px;
  outline: none;
}

/*** SCROLL BAR ***/
 ::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}