:root {
  --background: #003f88;
  --ligth-bg: #00509d;
  --dark-bg: #00296b;
  --primary: #fdc500;
  --ligth-primary: #ffd500;

  --white: #ffffff;
  --red: #ff0054;
  --success: #15ff00;
  --black: #000000;
  --clear-black: #252525;
  --grey: #a19f9f;
}

* {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
#root {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
div {
  min-width: '100%';
  min-height: '100%';
}

html,
body {
  margin: 0;
  padding: 0;
}
body {
  /* --background: #3f0f40; */
  overflow: hidden;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #188633;
  background-color: #ddffe6;
}

.ChatContainer {
  background-color: var(--primary);
}

input::placeholder {
  color: white;
}
